@media (max-width: 999px) {
    .navbar{
        .hamburger{
            display: block !important;
        }

        .nav-content{
            position: absolute;
            top: 100px;
            right: -100%;
            width: 100% !important;
            background-color: #fff;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: scroll;
            flex-direction: column;
            justify-content: flex-start !important;
            transition: all .4s linear;

            &.active-nav{
                right: 0px !important;
            }

            .navbar-nav{
                flex-direction: column !important;
                justify-content: flex-start;
                align-content: center;
                align-items: center;

                .nav-item{
                    margin: 4px 0px !important;
                }
            }
        }
    }
}